@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}
.container{
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
    align-items: center;
    border-radius: 10px;
    background-color: #f7f2f2;
}
.logo{
    width: 140px;
}
.nav-items ul {
    display: flex;
    
}
.nav-items ul li{
    padding-left: 20px;
    list-style-type: none;
}
.search{
    padding: 12px;
}
.res-container, .simmer-container{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 1020px;   
}

.res-card, .simmer-card{
    border: 1px solid #e6e6e6;
    padding: 15px;
    width: 200px;
    min-height: 200px;
    margin-bottom: 10px;
    cursor: pointer;
    background: rgb(246, 246, 246);
    text-decoration: none;
    color: #333;
    &:not(:last-child){
        margin-right: 10px;
    }
    &:hover{
        box-shadow: 5px 5px 22px #e6e6e6;
    }
}

.filter-btn{
    margin: 10px 0;
}
.login{
    cursor: pointer;
    color: #fff;
    background: #ce2121;
    border: 1pc solid #ce2121;
    border-radius: 5px;
    line-height: 0;
    width: 100px;
}
.veg-only{
    display: flex; 
    .vegOnlyLabel{
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        text-align: left;
        margin-left: 12px;
        font-size: 0;
    }   
    .ToggleSwitch_toggleBar__1peIy{
        cursor: pointer;
        background: #d4d5d9;
        width: 36px;
        position: relative;
        -webkit-transition: background-color .25s linear;
        -o-transition: background-color .25s linear;
        transition: background-color .25s linear;
        will-change: background-color;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        contain: layout;
        display: inline-block;
        border-radius: 4px;
        &.active{
            background-color: rgb(0, 128, 0);
        }
        
    }
    .ToggleSwitch_toggleThumb__NBLuA, .ToggleSwitch_toggleBar__1peIy{
        height: 18px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .ToggleSwitch_toggleThumb__NBLuA {
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        background: #fff;
        border: 2px solid #d4d5d9;
        -webkit-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
        will-change: transform,border-color;
        contain: strict;
        border-radius: 4px;
        height: 14px;
        &.active{
            border-color: rgb(0, 128, 0);
            left: 14px;
            .ToggleSwitch_toggleThumbContent__33ZU6{
                opacity: 1;
                border-color: rgb(0, 128, 0);
            }
        }
    }
    .ToggleSwitch_toggleThumbContent__33ZU6 {
        opacity: 0;
        -webkit-transition: opacity .25s linear;
        -o-transition: opacity .25s linear;
        transition: opacity .25s linear;
        will-change: opacity;
    }
    .styles_vegOnlyCircle__3UQr3 {
        background: #0f8a65;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
}

.promoted-label{
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    top: 5px;
    border-radius: 4px;
}

.menu-items{
    // text-align: center;
    .btn-add{
        position: absolute;
        left: 50%;
        bottom: 8px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
        height: 30px;
        width: 83px;
        color: #60b246;
        font-size: .9rem;        
        text-align: center;
        background-color: #fff;       
        box-shadow: 0 3px 8px #e9e9eb;
        border-radius: 4px;
    }
    .img-container{
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
}
.styles_itemImage__3CsDL{
    width: 118px;
    min-width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}